@media screen and (max-width: 1400px) {
    #home {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav-menu {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #home,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #home {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }


  /* media-query.css */

@media only screen and (max-width: 1200px) {
  .wrapper {
      width: 90%;
  }

  .project-card {
      width: 45%;
      margin-bottom: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper {
      width: 100%;
      padding: 0 10px; /* Adjust as needed */
  }

  .project-card {
      width: 100%;
      margin-bottom: 10px; /* Adjust as needed */
  }

  .project-card .icon {
      left: 10px; /* Adjust as needed */
  }
  
  .project-card:nth-child(odd) {
      clear: both; /* Start a new row for odd-numbered cards */
  }
}
