/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

#nav-menu{
  background-color: rgba(255, 255, 255, 0.5); /* Set your desired background color with transparency */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;

}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(234, 137, 213);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(239, 7, 7);
}

.logo {
  font-size: 2rem;
  color: blueviolet;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(101, 89, 89);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 500px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}


/* home */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  .section-container {
    display: flex;
  }
  
  /* PROFILE SECTION */
  
  #home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
  }
  
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    /* margin: auto 0; */
    margin-right: 100px;
    margin-top: 80px;
  }
  
  .section__text {
    align-self: center;
    text-align: center;
  }
  
  .section__text p {
    font-weight: 600;
  }
  
  .section__text__p1 {
    text-align: center;
  }
  
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    margin: 0 auto;
  }
  
  .title {
    font-size: 3rem;
    text-align: center;
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* ICONS */
  
  .icon {
    cursor: pointer;
    height: 2rem;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  /* BUTTONS */
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }
  
  .btn-color-1,
  .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn-color-1:hover,
  .btn-color-2:hover {
    cursor: pointer;
  }
  
  .btn-color-1,
  .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn-color-1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn-color-2 {
    background: none;
  }
  
  .btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn-container {
    gap: 1rem;
  }





  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.section__text__p2 {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(34, 28, 28, 0.7);
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}


/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 272px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(221, 87, 34, 0.75);}
  to{border-right-color: transparent;}
}


/* about us */


#about {
    position: relative;
  }
  
  .about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .about-details-container {
    justify-content: center;
    flex-direction: column;
  }
  
  .about-containers,
  .about-details-container {
    display: flex;
  }
  
.home-img {
    border-radius: 2rem;
  }
  
  .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
  
  .details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    
  }
  .details-container:hover{
    transform: scale(1.05);
  }
  
  
  .section-container {
    gap: 4rem;
    height: 80%;
  }
  
  .section__pic-container {
    height: 400px;
    width: 400px;
  }
  

  /* project */

  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    gap: 3%;
    /* justify-content: space-between; */
}

.project-card {
    width: 45%;
    height: 400px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%; /* Adjust margin for the gap between cards */
}

.project-card:hover {
    transform: translateY(20px);
}

.project-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.project-card:hover:before {
    opacity: 1;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.project-card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.project-card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.project-card .info h1 {
    margin: 0px;
}

.project-card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}
.info p{
  color: white;
    opacity: 0.8;
}

.project-card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.project-card .info button:hover {
    background: dodgerblue;
    color: white;
}

.project-tech-stack{
display: flex;
gap: 2rem;
position: relative;
margin-bottom: 1em;
}

.project-tech-stack img{
  width: 30px;
  height: 30px;
}
/* .project-tech-stack .icon {
    position: absolute;
    top: 10px; 
    width: 30px; 
    height: 30px; 
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .icon {
    opacity: 1;
} */



#projects h1,p {
    margin: 0;
}
#projects h1{
margin-bottom: 2rem;
}

.info button{
    margin-top: 2rem;
}


  
/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
  
  /* FOOTER SECTION */
  
  footer {
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }


/* skills */


#skills {
  
  height: 100vh;
}

.skill-icon {
  text-align: center;
  position: relative;
  animation: rotateY 4s linear infinite; /* Use the "rotateY" animation with a linear timing function and infinite repeat */
}

.skill-icon img {
  width: 80px; /* Adjust the size as needed */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
  transform-style: preserve-3d; /* Enable 3D transformations */
  transform: translateZ(25px); 
}

.skill-icon p {
  margin: 8px 0 0;
}

@keyframes rotateY {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}
 .skills-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display 4 columns in each row */
  gap: 10px; /* Adjust the gap between icons as needed */
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: auto;
  /* box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); */
  border-radius: 20px;
  perspective: 800px;
 }


 /* github */

 #github-statistics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 10rem;
 }


 .git{
  border-radius: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
 }

 .git:hover{
  transform: scale(1.05);
 }